.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.content {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.image {
  width: 100%;
  border-radius: 15px;
}

.text {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  margin: 20px 0;
}

.shuffle-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.shuffle-button:hover {
  background-color: #0056b3;
}
